body {
    margin: 5px;
    background-color: #f4f4f4;
}

header {
    background-color:rgb(151, 21, 151);
    text-align: center;
    color: rgb(190, 167, 191);
    padding: 20px;
    padding-bottom: 0.1px;
    border-radius: 20px;
}

main p{
    font-size: 20px;
    color: rgb(67, 67, 8);
    margin-left: 70px;
}

.search label{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    margin-left: 30px;
}

.search input{
    padding: 5px;
    margin-left: 10px;
    width: 200px;
    text-align:center ;
}

::placeholder{
    text-align: center;
}
.search button{
    margin-top: 20px;
    margin-left: 477px;
    padding: 10px 20px;
    border-radius: 5px; /* Slightly rounded button */
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background-color: #005f73;
}

.price p{
    margin-left: 30px;
    padding: 4px;
    font-size: large;
}

.price span{
    background-color: #84bdc9;
    padding: 10px;
    border-radius: 10px;
}

.price span:hover{
    background-color: #005f73;
    cursor: pointer;
}

.price{
    margin-top: 25px;
    margin-left: 20px;
}

#search_result{
    margin-left: 20px;
}

#text1{
    margin-left: 120px;
}